In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("DataSample.csv")

In [5]:
df.head()

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22025 entries, 0 to 22024
Data columns (total 7 columns):
_ID          22025 non-null int64
 TimeSt      22025 non-null object
Country      22025 non-null object
Province     22025 non-null object
City         22025 non-null object
Latitude     22025 non-null float64
Longitude    22025 non-null float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.2+ MB
None

In [6]:
df[df["_ID"] == 5391794]

,_ID,TimeSt,Country,Province,City,Latitude,Longitude
17512,5391794,2017-06-21 00:02:13.080,CA,ON,Mississauga,43.5869,-79.7559

In [7]:
df[df.duplicated(subset=[" TimeSt", "Latitude", "Longitude"])]

,_ID,TimeSt,Country,Province,City,Latitude,Longitude
12,4517047,2017-06-21 12:00:00.950,CA,ON,London,43.00910,-81.17650
19,4517347,2017-06-21 03:00:00.287,CA,ON,Windsor,42.29570,-82.95990
37,4518179,2017-06-21 08:00:00.663,CA,ON,Kitchener,43.46760,-80.48470
56,4519066,2017-06-21 07:00:00.747,CA,ON,Tillsonburg,42.86185,-80.72991
77,4520202,2017-06-21 17:00:02.433,CA,ON,Windsor,42.26540,-83.02610
...,...,...,...,...,...,...,...
21978,5613024,2017-06-21 21:22:52.703,CA,ON,Burlington,43.30160,-79.85820
21986,5613395,2017-06-21 18:22:52.750,CA,ON,Toronto,43.71290,-79.38880
22011,5614409,2017-06-21 20:22:53.367,CA,ON,Mississauga,43.58730,-79.60760
22013,5614486,2017-06-21 04:22:54.890,CA,ON,Toronto,43.70680,-79.39910
22021,5614888,2017-06-21 08:23:01.793,CA,AB,Calgary,51.02093,-114.10621

In [8]:
df2 = pd.read_csv("POIList.csv")

In [9]:
df2

  POIID   Latitude   Longitude
0  POI1  53.546167 -113.485734
1  POI2  53.546167 -113.485734
2  POI3  45.521629  -73.566024
3  POI4  45.224830  -63.232729

In [13]:
df.drop_duplicates(subset=[" TimeSt", "Latitude", "Longitude"], inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19999 entries, 0 to 22024
Data columns (total 7 columns):
_ID          19999 non-null int64
 TimeSt      19999 non-null object
Country      19999 non-null object
Province     19999 non-null object
City         19999 non-null object
Latitude     19999 non-null float64
Longitude    19999 non-null float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.2+ MB